<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student</title>
    {% load static %}
    <link href="{% static 'css/studentCourseList.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{# 为全选、全不选、下载作业绑定事件  #}
<script type="text/javascript" src="{% static 'js/teacherTasks.js' %}"></script>
</head>
<body>
<div class="container">
    <!-- 欢迎语句和注销 -->
    <div class="jumbotron">
    <h1>{{ name }}</h1>
    <a href="{% url 'logout' %}" id="logout"> 注销</a>
    <a href="{% url 'profile_edit' %}" id="courseList-a"> 查看个人信息</a>
    </div>

    <div class="courseList-div well">

        {% if course %}
            <p>目前你选择了以下课程，点击进入课程页面</p>
            <div class="list-group">
            {% for courseItem, taskNumber in course %}
                <a href="{% url 'studentCourse' courseItem.courseTerm courseItem.courseName courseItem.classNumber %}" class="list-group-item active">{{courseItem.courseTerm}}{{courseItem.courseName}}{{courseItem.classNumber }}&emsp;<span class="badge">{{ taskNumber }}</span></a>
                <br/>
            {% endfor %}
            </div>
        {% else %}
            <p>目前你没有选择课程，请联系老师导入名单！</p>
        {% endif %}

    </div>

</div>
</body>


</html>