<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Teacher</title>

    {% load static %}
    <link href="{% static 'css/student.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">

    <div class="jumbotron">
        <h1>hello!teacher!</h1>
        <a href="{% url 'logout' %}" id="logout"> 注销</a>
    </div>

    <div>
    <table class="table table-bordered table-striped" align="center">
        <th>序号</th><th>学号</th><th>姓名</th>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td><td>{{ user.user.username }}</td><td>{{ user.name }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</div>
</body>
</html>